[buildout]
extends =
	https://dist.plone.org/release/6.1-latest/versions.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    sources.cfg

extensions =
    mr.developer

find-links =
    https://dist.plone.org/release/6.1-latest/

parts =
	instance
	omelette

eggs =
	imio.omnia.core
    iw.debug

zcml =
    iw.debug

show-picked-versions = true

plone-user = admin:admin

auto-checkout =
	imio.omnia.core

[instance]
initialization = import shutup; shutup.please()
recipe = plone.recipe.zope2instance
user = ${buildout:plone-user}
eggs =
    Plone
    plone.app.upgrade
    ${buildout:eggs}
zodb-temporary-storage = off
deprecation-warnings = on
environment-vars =
    zope_i18n_compile_mo_files true
zcml =
    ${buildout:zcml}


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
